
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Moon Sung">
        <meta name="keyword" content="mp3, mp4, MP3, MP4, Youtube, youtube, Convert, Cut, Merge, Video, Free, Website, HTML, Html, html">
        <meta name="description" content="유튜브 동영상을 mp3, mp4로 전환하고 동영상을 서로 합치거나 자르는 작업을 무료로 수행할 수 있습니다.">
        
        <meta itemprop="name" content="유튜브 동영상을 mp3, mp4로 변환 및 자르거나 합치기">
        <meta itemprop="description" content="유튜브 동영상을 mp3, mp4로 전환하고 동영상을 서로 합치거나 자르는 작업을 무료로 수행할 수 있는 웹사이트 입니다.">        
        <meta itemprop="image"content="image/logo.PNG">

        <meta property="og:type" content="website">
        <meta property="og:title" content="유튜브 동영상을 mp3, mp4로 변환 및 자르거나 합치기">
        <meta property="og:description" content="유튜브 동영상을 mp3, mp4로 전환하고 동영상을 서로 합치거나 자르는 작업을 무료로 수행할 수 있습니다.">
        <meta property="og:image" content="image/logo.PNG">
        
        <link rel="icon" sizes="16x16" href="image/logo.PNG" />
        <link rel="icon" sizes="32x32" href="image/logo.PNG" />
        <link href="stylesheet/main.css" rel="stylesheet" />
        <title>EZ Tube</title>
    </head>
    <body>
        <div class="head">
            <div class="logo">EZ Tube</div>
            <div class="menu">
                <div class="convert">CONVERT</div>
                <div class="cut" onclick="alert('개발중')">CUT</div>
                <div class="merge" onclick="alert('개발중')">MERGE</div>
            </div>
        </div>
        <div class="body">
            <div class="body_wrap">
                <div class="input">
                    <div class="input_wrap">
                        <div class="input_title">
                            Youtube To MP3
                        </div>
                        <div class="button_wrap">
                            <input class="link_input" type="input" placeholder="Youtube Viedo Link Here" />
                            <input class="convert_button" type="button" value="Convert" />
                        </div>
                        <div class="loading">
                            <img src="image/loading.gif" />
                        </div>
                        <div class="video">
                            <div class="video_wrap">
                                <div class="image">
                                    <img class="thumbnail" src="https://i.ytimg.com/vi/ttIYXlXjK6c/hqdefault.jpg?sqp=-oaymwE1CKgBEF5IVfKriqkDKAgBFQAAiEIYAXABwAEG8AEB-AH-DoACuAiKAgwIABABGFsgVyhlMA8=&rs=AOn4CLDZPQYdJd2Mr-2HduVcf0k849IMlQ" />
                                </div>
                                <div class="profile">
                                    <div class="profile_content">
                                        꽃잎이 눈보라처럼 내려와🌸: 요루시카 - 봄도둑(春泥棒) [가사/발음/한글 자막/해석]
                                    </div>
                                </div>
                            </div>
                            <div class="download">
                                <div class="download_wrap">
                                    <div class="mp3">
                                        MP3
                                        <input class="mp3_download" type="button" value="Download" />
                                    </div>
                                    <div class="mp4">
                                        MP4
                                        <input class="mp4_download" type="button" value="Download" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart">
                    <div class="youtube">
                        <div class="youtube_head">
                            <div class="youtube_image">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzAzMzFfMTIg%2FMDAxNjgwMjY2Nzg3NjY1.yzv4zfAziATJKmDyg3Svly2J5UXwjyLve-N0J1A4CmUg.N3t_15nX0eDMakyO9eJOzmdGyzXsLvtghH8bromT8Gcg.PNG.a2224455%2F-%25C0%25AF%25C6%25A9%25BA%25EA%25B7%25CE%25B0%25ED%252CYouTube%25B7%25CE%25B0%25ED_2.png&type=a340" />
                            </div>
                            <div class="youtube_title">YouTube</div>
                        </div>
                        <div class="loading">
                            <img src="image/loading.gif" />
                        </div>
                        <div class="youtube_wrap">
                            <div class="one">
                                <div class="rank">1</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">NewJeans</div>
                                </div>
                            </div>
                            <div class="two">
                                <div class="rank">2</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/QU9c0053UAU/mqdefault.jpg" />
                                </div>
                                <div class="music_info">
                                    <div class="music_name">Seven</div>
                                    <div class="music_maker">정국</div>
                                </div>
                            </div>
                            <div class="three">
                                <div class="rank">3</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/ArmDp-zijuc/mqdefault.jpg" />
                                </div>
                                <div class="music_info">
                                    <div class="music_name">Super Shy</div>
                                    <div class="music_maker">NewJeans</div>
                                </div>
                            </div>
                            <div class="four">
                                <div class="rank">4</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                            <div class="five">
                                <div class="rank">5</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                            <div class="six">
                                <div class="rank">6</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                            <div class="seven">
                                <div class="rank">7</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="melon">
                        <div class="melon_head">
                            <div class="melon_image">
                                <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fmodo-phinf.pstatic.net%2F20220131_225%2F1643556988194xAhHt_PNG%2FmosabbwZ5Y.png&type=a340" />
                            </div>
                            <div class="melon_title">Melon</div>
                        </div>
                        <div class="loading">
                            <img src="image/loading.gif" />
                        </div>
                        <div class="melon_wrap">

                            <div class="one">
                                <div class="rank">1</div>
                                <div class="music_image">
                                    <img src="https://cdnimg.melon.co.kr/cm2/album/images/112/81/456/11281456_20230706180841_500.jpg/melon/resize/120/quality/80/optimize" />
                                </div>
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">NewJeans</div>
                                </div>
                            </div>
                            <div class="two">
                                <div class="rank">2</div>
                                <div class="music_image">
                                    <img src="https://cdnimg.melon.co.kr/cm2/album/images/112/86/070/11286070_20230713181059_500.jpg/melon/resize/120/quality/80/optimize" />
                                </div>
                                <div class="music_info">
                                    <div class="music_name">Seven</div>
                                    <div class="music_maker">정국</div>
                                </div>
                            </div>
                            <div class="three">
                                <div class="rank">3</div>
                                <div class="music_image">
                                    <img src="https://cdnimg.melon.co.kr/cm2/album/images/112/81/456/11281456_20230706180841_500.jpg/melon/resize/120/quality/80/optimize" />
                                </div>
                                <div class="music_info">
                                    <div class="music_name">Super Shy</div>
                                    <div class="music_maker">NewJeans</div>
                                </div>
                            </div>
                            <div class="four">
                                <div class="rank">4</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                            <div class="five">
                                <div class="rank">5</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                            <div class="six">
                                <div class="rank">6</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                            <div class="seven">
                                <div class="rank">7</div>
                                <div class="music_image">
                                    <img src="https://i.ytimg.com/vi/jOTfBlKSQYY/mqdefault.jpg" />
                                </div>                            
                                <div class="music_info">
                                    <div class="music_name">ETA</div>
                                    <div class="music_maker">New Jeans</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="script/main.js"></script>
    </body>
</html>